---
import '../styles/global.css';

export interface JobPostData {
	title: string;
    experience: string;
    companyDescription: string;
	jobDescription: string;
	location: string;
	requirements: string;
    benefits: string;
    tags: string[];
}

export interface Props {
	jobPosting: JobPostData;
}

const { jobPosting } = Astro.props as Props;
---

<article class="max-w-4xl mx-auto px-6 py-12">
	<div class="mb-6">
		<h1 class="text-3xl font-semibold leading-tight m-0">{jobPosting.title}</h1>
	</div>
        <section>
            <div set:html={jobPosting.experience}></div>
        </section>
        <section class="prose prose-neutral max-w-none leading-relaxed">
            <div set:html={jobPosting.location}></div>
        </section>
        <section class="prose prose-neutral max-w-none leading-relaxed">
            <h2 class="text-2xl pt-10 pb-2 font-semibold leading-tight m-0">Şirket Bilgileri</h2>
            <div set:html={jobPosting.companyDescription}></div>
        </section>
        <section class="prose prose-neutral max-w-none leading-relaxed">
            <h2 class="text-2xl pt-12 pb-2 font-semibold leading-tight m-0">İş Açıklaması</h2>
            <div set:html={jobPosting.jobDescription}></div>
        </section>
        <section class="prose prose-neutral max-w-none leading-relaxed">
            <h2 class="text-2xl pt-12 pb-2 font-semibold leading-tight m-0">Gereksinimler</h2>
            <div set:html={jobPosting.requirements}></div>
        </section>
        <section class="prose prose-neutral max-w-none leading-relaxed">
            <h2 class="text-2xl pt-12 pb-2 font-semibold leading-tight m-0">Avantajlar</h2>
            <div set:html={jobPosting.benefits}></div>
        </section>
        <section class="prose prose-neutral max-w-none leading-relaxed">
            <h3 class="text-l pt-12 pb-2 font-semibold leading-tight m-0">İlgileniyorsanız lütfen özgeçmişinizi teknikoyazilimcozumleri@gmail.com adresine gönderin.</h3>
        </section>
</article>


